* {
    font-family: fantasy;
}

.corpo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/fundo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}


/* ============================== CABECALHO ==================================================== */
.cabecalho {
    top: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #4ab3d2;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 20px;
}
.paginas {
    background-color: #4ab3d2;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
    padding: 10px;


}

.paginas:hover  {
    background-color: #328097;
    color: white;
    transition: 0.5s;
    padding: 15px;
    font-size: 15px;

    }

.paginas a {
    text-decoration: none;
    color: black;
}


.itens {

    display: flex;
    max-height: 250px;

}
/* ============================== CABECALHO ==================================================== */


.conteudo {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.623);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    max-height: 500px;
    overflow-y: scroll;
}



/* ================ PAGINA SOBRE MIM ========================= */

.foto {
    max-width: 400px;
}
.video {
    max-height: 500px;
}



/* ================ PAGINA SOBRE MIM ========================= */

.curriculo{
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    max-height: 500px;

}

.pdf {

    width: 1000px;
    height: 600px;
}